@media (min-width: 991px) and (max-width: 1400px) {
    .top-banner{
        padding: 10.875rem 0 9.375rem;
    }
    .text-content {
        width: 100%;
    }

    .button-2 {
        display: flex;
        justify-content: center;
    }

    .button-2 button {
        margin: 0 0.5rem; /* Adjust margin for space between buttons */
        padding: 0.5rem 1rem; /* Adjust padding to maintain button width */
    }
}

@media (max-width: 991px) {

    /* custom classes */
    .text-content {
        width: 100%;
    }

    /* navigation Design */
    .navigation-wrap .navbar-brand {
        height: 280px; 
        width: 280px; 
        position: absolute; 
        left: 10px; 
        top: -50px; 
        transform: none; 
        z-index: 1001; 
    }
    .navigation-wrap {
        text-align: center;
        background-color: var(--white-color);
        padding-top: 100px; 
    }
    .navigation-wrap .navbar-toggler {
        position: absolute;
        right: 20px; 
        top: 25px; 
        z-index: 1002; 
    }
    .navigation-wrap .nav-link {
        line-height: 1.875rem;
    }

    /* Banner Design */
    .top-banner {
        padding: 9.375rem 0 9.375rem;
    }

    .navbar-collapse {
        text-align: center;
    }
}


@media (max-width: 767px) {
    h1 {
        font-size: 2.8rem;
    }
    h2{
        font-size: 2rem;
        line-height: 2.0625rem;
    }

    .top-banner{
        padding: 10.875rem 0 9.375rem;
    }

}