@import url('https://fonts.googleapis.com/css?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'Rocher';
    src: url('/static/font/RocherColorGX-c8e464ce.woff2');
}

:root { 
    --primary-color: #a82c48;
    --secondry-color: #43121d;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --text-gray: #999;
    --black-color: #000;
    --primary-font: 'Roboto', sans-serif;
    --secondry-font: 'Quicksand', sans-serif;
    ;
}
    
body {       
    font-family: var(--secondry-font);
    font-weight: 600;
    background-image: url('/static/img/bg/bg-8.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
 
    justify-content: center; 
    align-items: center; 
}

h1 {
    font-family: Rocher;
    font-size: 3rem; 
    color: var(--primary-color); 
    margin-bottom: 20px;
    text-align: center;
}
h1 #totalCalorie {
    font-size: 2.5rem; 
}

h2 {
    font-family: Rocher;
    font-size: 2rem; 
    color: var(--secondary-color); 
    margin-bottom: 15px;
    text-align: right; 
}

h3 {
    font-family: Rocher;
    font-size: 1.5rem; 
    color: var(--accent-color); 
    margin-bottom: 10px; 
}

/* CSS for the round-shaped button */
.redirect-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #800000; 
    color: white; 
    border: none;
    border-radius: 50%; 
    width: 60px; 
    height: 60px; 
    font-size: 20px; 
    text-align: center;
    line-height: 60px;
    text-decoration: none; 
    box-shadow: 0px 4px 8px rgba(128, 0, 0, 0.4); 
    z-index: 999; 
}

.redirect-btn:hover {
    background-color: #660000; 
    cursor: pointer; 
}

/* card */


/* Card container styles */
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 80%;
}

/* Card styles */
.card {
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

/* Food list styles */
/* .food-list-card {
    text-align: left;
} */

/* Subtracted food list styles */
/* .subtracted-food-list-card {
    display: none; Initially hidden
} */

/* Button styles */
/* .button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: var(--secondary-color);
} */

/* Custom Scrollbar */

::-webkit-scrollbar {
    width: 0.625rem;
}
::-webkit-scrollbar-track {
    background: var(--white-color);
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}


.card-cat {
    background-color:  rgba(1, 0, 0, 0.45);
    border-radius: 10px;
    padding: 20px;
    /* margin-bottom: 20px; */
    width: 100%;
    max-width: 1200px;
}
.btn-container {
    text-align: center;
}
.category-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    color: var(--white-color);
    border-radius: 5px;
    font-size: 0.9375rem;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    /* cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s; */

    /* display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s; */
}

.category-button:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.food-chart-container {
    display: flex;
    flex-wrap: wrap; /* Allows elements to wrap onto the next line */
    justify-content: space-between; /* Distribute items along the main axis with space between */
    width: 100%; /* Occupy full width */
}
.food-list {
    max-height: 400px; /* Set the maximum height for the food list */
    overflow-y: auto; /* Add vertical scrollbar if necessary */
    list-style-type: none; /* Remove bullet points from list items */
    padding: 0; /* Remove default padding */
    text-align: left; /* Align text to the left */
    width: 49%; /* Adjust width to fit two elements side by side */
    margin-right: 1%; /* Add a small gap between elements */
}

/* .food-list {
    max-height: 200px; Set the maximum height for the food list
    overflow-y: auto; Add vertical scrollbar if necessary
    list-style-type: none; Remove bullet points from list items
    padding: 0; Remove default padding
    text-align: left; Align text to the left
} */

.food-item {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

#totalCalorie {
    font-size: 18px; /* Increase font size */
}

/* #subtractCaloriesBtn {
    font-size: 18px; Increase font size
    padding: 10px 20px; Add padding
    background-color: orange; Set background color
    color: white; Set text color
    border: none; Remove border
    border-radius: 5px; Add border radius
    cursor: pointer; Change cursor on hover
} */

.btn-container {
    display: flex;
    justify-content: space-between; /* Distribute items along the main axis with space between */
    width: 100%; /* Occupy full width */
}

#subtractCaloriesBtn, #showSubtractedListBtn {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    color: var(--white-color);
    border-radius: 5px;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    cursor: pointer;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}
#subtractCaloriesBtn:hover, #showSubtractedListBtn:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.selected {
    background-color: rgb(255, 184, 184); /* Highlight selected items */
}

#subtractedFoodListContainer {
    margin-top: 20px; /* Add space above the subtracted food list */
    width: 100%; /* Occupy full width */
}

#subtractedFoodList {
    text-align: left; /* Align text to the left */
    font-size: 18px; /* Increase font size */
    padding: 10px; /* Add padding */
    width: 100%; /* Occupy full width */
    max-height: 200px; /* Set the maximum height for scrollability */
    overflow-y: auto; /* Add vertical scrollbar if necessary */
}

#subtractedFoodList div {
    background-color: #e0e0e0; /* Light gray background */
    border-radius: 5px; /* Add border radius */
    margin-bottom: 5px; /* Add space between items */
    padding: 8px; /* Add padding */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    transition: background-color 0.3s; /* Smooth transition */
}

#subtractedFoodList div:hover {
    background-color: #d0d0d0; /* Darker background on hover */
}
    
/* #downloadPdfBtn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.4s;
} */

/* #chartContainer {
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
} */

#chartContainer {
    margin-top: 20px;
    width: 49%; /* Adjust width to fit two elements side by side */
}


