<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Display</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/static/img/pics/favicon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link  rel="stylesheet" href="static/test-style.css">

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
     -->
     <!-- <script src="js/jspdf.umd.min.js"></script> -->


</head>
<body>
    <h1>Data Display</h1>
    <div class="card-container">
        <div class="card-cat btn-container">
            <div id="categoryContainer">
                <!-- Categories will be dynamically added here -->
            </div>
        </div>
    
        <div class="food-chart-container">
            <ul id="foodList" class="food-list">
                <!-- Food list will be dynamically added here -->
            </ul>
        
            <div id="chartContainer">
                <canvas id="caloriesPieChart"></canvas>
            </div>
        </div>
    
        <h1>Total Calorie Requirement: <span id="totalCalorie">{{ calorie }}</span> cal</h1>
        <!-- <button id="subtractCaloriesBtn">Subtract Calories</button> -->

        <div class="btn-container">
            <button id="subtractCaloriesBtn">Subtract Calories</button>
            <button id="showSubtractedListBtn">Show Subtracted List</button>
        </div>
        <div id="subtractedFoodListContainer" style="display: none;">
            <h2>Subtracted Food List:</h2>
            <div id="subtractedFoodList"></div>
        </div>
    
    </div>
    <!-- <button id="downloadPdfBtn">Download</button> -->


    <a href="/" class="redirect-btn"><i class="fa-solid fa-house"></i></a>
  
    <!-- <script src="node_modules\jspdf\dist\jspdf.es.min.js"></script> -->
    <script src="static/test-js.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>


    

</body>
</html>
